* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 60px;
    border: 2px dotted red;

}

p {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

main {
    background: rgb(245, 248, 255);
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10;
    margin: 35px 0 15px;
}

.form_section_text,
.form_section_input {
    width: 45%;
}

.form .form_section_text {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.form .form_section_input form {
    display: flex;
    flex-direction: column;
}

.form .form_section_input form label {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}


.form .form_section_input form input,
.form .form_section_input textarea {
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.form .form_section_input form input:focus,
.form .form_section_input form textarea:focus {
    border: 1px solid rgb(214, 221, 237);
    outline: none;
}

.form .form_section_input form button {
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px;
}

/* footer section  */

.footer {
    background: rgb(255, 255, 255);
    text-align: center;
}

.logo_section,
.footer_content,
.footer_nav {
    margin: 15px 0;
}

.logo_section img {
    width: 100px;
}

.footer_content p {
    width: 65%;
    margin: 0 auto;
}

.footer_nav nav {
    width: 60%;
    margin: 0 auto;
}

.footer_nav nav ul {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer_nav nav ul a {
    text-decoration: none;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;


}