* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 60px;
}

p {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

main {
    background: rgb(245, 248, 255);
}


/* header  */
.header {
    background-image: url("../Assets/Hero-bg.png");
    background-position: center center;
    background-size: contain;
    padding: 60px 80px;
    background-color: rgba(78, 71, 255, 0.01);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
}

.header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.signup-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-content h1 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 55px;
    font-weight: 700;
    line-height: 76px;
}

.focus-btn {
    border: 1px solid transparent;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.focus-btn:hover {
    background-color: #3a36d9;
}

/* preview  */

.preview-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    background-color: #f5f6ff;
    gap: 40px;
    flex-wrap: wrap;
}

.preview-text {
    width: 480px;
}

.preview-text h2 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
}

.preview-text p {
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.preview-btn {
    border: 1px solid transparent;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 20px;
    padding: 10px 30px;
}

.preview-image {
    text-align: center;
}

.preview-image img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

/* statistic */
.stats_section {
    background-color: #f4f6fd;
    padding: 50px 0;
    text-align: center;
}

.stats_section h2 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
}

.stats_wrapper {
    background-color: #e6e9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin-top: 25px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.stat_box {
    text-align: center;
    margin: 10px 20px;
}

.stat_box h3 {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
    text-align: left;
}

.stat_box p {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


/* user say  */
.user_say {
    padding: 10px;
}

.user_say .user_heading {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 28px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
}

.user_cards_container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.user_card {
    width: 30%;
    background: #f9faff;
    border: 1px solid #e0e6ed;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stars {
    color: #ffea00;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.user_card h3 {
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
}

.user_card p {
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.reviewer-info strong {
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
}

.reviewer-info span {
    color: rgb(179, 179, 179);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}


/* form  */
.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 35px 0 15px;
}

.form_section_text,
.form_section_input {
    width: 45%;
}

.form .form_section_text {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
}

.form .form_section_input form {
    display: flex;
    flex-direction: column;
}

.form .form_section_input form label {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
}

.form .form_section_input form input,
.form .form_section_input textarea {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.form .form_section_input form input:focus,
.form .form_section_input form textarea:focus {
    border: 1px solid rgb(214, 221, 237);
    outline: none;
}

.form .form_section_input form button {
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 5px;
    padding: 15px;
}


/* footer section  */
.footer {
    background: rgb(255, 255, 255);
    text-align: center;
}

.logo_section,
.footer_content,
.footer_nav {
    margin: 15px 0;
}

.logo_section img {
    width: 100px;
}

.footer_content p {
    width: 65%;
    margin: 0 auto;
}

.footer_nav nav {
    width: 60%;
    margin: 0 auto;
}

.footer_nav nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer_nav nav ul a {
    text-decoration: none;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
